<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

  </head>
<body class="w-100 bg-color">
    <main  class="top-page">
  <%= render "shared/sidebar" %>

<div class="container d-flex flex-column overflow-auto img-1 px-5 ">
  <%= render "shared/header" %>

  <div class = "row w-100">
    <% @posts.each do |post|%>
    <% color_index = (post.account.id - 1) % 6 + 1 %>
    <% bg_color = "bg-#{color_index}" %>
      <%= link_to post_path(post.id), class: "text-decoration-none col-md-4 row-md" do %>
      
        <div class="g-0 rounded <%= bg_color %> flex-md-row mb-4  h-md-250 position-relative row shadow-main">
          <div class="col-6 p-4 position-static">

            <h5 class="mb-1 text-muted"><%= post.date%></h5>
            <div class="row mb-1">
              <p class="card-text mb-auto text-muted"><%= post.low.name %>℃~<%= post.high.name %>℃ <%= post.weather.name %></p>
              <p class="deco card-text mb-auto text-muted"><%= post.content %></p>
            </div>
          <div class="item col-2">
          <% if post.account.image.present? %>
            <%= image_tag post.account.image.variant(resize: '30x30'), class: "rounded-circle" %>
          <% else %>
            <%= image_tag "icon.png", variant: { resize: '30x30' }, class: "icon-resize2 rounded-circle" %>
          <% end %>
          </div>

          </div>
          <div class="col-6 d-none d-lg-block align-self-center">
            <% post.items.each do |item| %>
              <%= image_tag item.image.variant(resize: '90x90') %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</main>
    
  </body>
</html>
