  <%= render "shared/sidebar" %>

<main class="container d-flex flex-column overflow-auto img-1 px-5 ">

  <%= render "shared/header" %>

  <%# <div class="col-md-8">
  <%= month_field events: @posts do |date,post| %>
      <%# <%= date.day %>

    <%# <% posts.each do |post| %>
      <%# <div>
        <%= link_to post.date, post %>
      <%# </div>
    <% end %>
  <%# <% end %>
  <%# </div> %>

  <%= week_calendar events: @posts do |date, posts| %>
    <%= date.day %>
  <% end %>
  
</main>
