  <%= render "shared/sidebar" %>

<main class="container d-flex flex-column overflow-auto img-1 px-5 ">

  <%= render "shared/header" %>

  <%= week_calendar events: @posts do |date, posts| %>
    <%= date.day %><br>
      <% posts.each do |post| %>
        <%= link_to post_path(post), class: "text-decoration-none" do %>
            <% if post.account.image.present? %>
              <%= image_tag post.account.image.variant(resize: '30x30'), class: "rounded-circle m-2" %>
            <% else %>
              <%= image_tag "icon.png", variant: { resize: '30x30' }, class: "icon-resize2 rounded-circle m-2" %>
            <% end %>
          <% end %>
      <% end %>
  <% end %>
  
</main>
