<div class="simple-calendar">
  <div class="calendar-heading text-center">
    <%= link_to t('simple_calendar.previous', default: '前の週'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
    <span class="calendar-title"><%= start_date.month %>月</span>
    <% else %>
    <span class="calendar-title"><%= start_date.month %>月</span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: '次の週'), calendar.url_for_next_view %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= ["Sun","Mon","Tue","Wed","Thu","Fri","Sut"][day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% posts = @posts.select { |post| post.date == day } %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
              <%# <% posts.each do |post| %>
              <%# <%= post.weather.name %>
              <%# <%= post.low.name %>
              <%# ℃~<%= post.high.name %>
              <%# <% post.items.each do |item| %>
                <%# <%= image_tag item.image.variant(resize: '90x90') %>
              <%# <% end %>
            <%# <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
