<%= render "shared/sidebar" %>
<%= form_with model: @item, local: true, class: "mx-auto col-4" do |f| %>
  <div class="item-box justify-content-center">
    <p class="text-center mb-3 fs-2">アイテムを編集する</p>

      <div class = "add-form row p-3">
      <% Account.all.each do |account| %>
        <label class="form-radio mb-2">
          <input class="form-radio-input" type="radio" name="item[account_id]" value="<%= account.id %>">
          <% if account.image.present? %>
            <%= image_tag account.image.variant(resize: '50x50'), class: "rounded-circle" %>
          <% else %>
            <%= image_tag "icon.png", variant: { resize: '50x50' }, class: "icon-resize rounded-circle" %>
          <% end %>

          <%= account.name %>
        </label>
      <% end %>


    <label class="form-image p-0">
      <%= f.file_field :image, class: 'form-control mb-2' %>
    </label>

    <%= f.text_field :name, class:"form-control mb-2", placeholder:"Name" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select mb-2"}) %>
    <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"form-select mb-2"}) %>
    <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"form-select mb-2"}) %>
    <%= f.text_area :info, class:"form-control  mb-3", placeholder:"Memo" %>
    <p class= "text-center"><%= f.submit "POST" ,class:"btn btn-primary col-12" %></p>
  </div>
<% end %>