<body class="bg-color">
  <main  class="top-page">
  <%= render "shared/sidebar" %>

  <div class="d-flex flex-column img-1 px-5 col-12">
    <%= render "shared/header" %>

  <div class = "row overflow-scroll">
    <% @items.each do |item|%>
    <% color_index = (item.account.id - 1) % 5 + 1 %>
    <% bg_color = "bg-#{color_index}" %>
    <% if item.account.id >= 6 %>
      <% bg_color += " bg-#{(item.account.id - 6) % 5 + 1}" %>
    <% end %>

      <%= link_to item_path(item.id), class: "text-decoration-none col-lg-3 col-md-6 row-md" do %>
        <div class="g-0 rounded <%= bg_color %> flex-md-row mb-4 h-md-250 position-relative row shadow-main">

      <div class= "img-size mx-auto d-flex justify-content-center">
        <%= image_tag item.image.variant(resize: '200x200') %>
        </div>
          <div class="position-static p-3 row">
            <h5 class="mb-1 text-muted col-10"><%= item.name%></h4>
            <div class="item col-2">
          <% if item.account.image.present? %>
            <%= image_tag item.account.image.variant(resize: '30x30'), class: "rounded-circle" %>
          <% else %>
            <%= image_tag "icon.png", variant: { resize: '30x30' }, class: "icon-resize2 rounded-circle" %>
          <% end %>
          </div>
            <p class="card-text mb-auto text-muted">
            カテゴリー：<%= item.category.name %><br>
            色：<%= item.color.name %><br>
            季節：<%= item.season.name %></p>
            <p class="deco card-text mb-auto text-muted"><%= item.info %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </main>
</body>