  <%= render "shared/sidebar" %>
<%= form_with model: @item, url:items_path, local: true, class: "mx-auto col-6" do |f| %>
  <div class="item-box justify-content-center">
    <p class="text-center mb-3 fs-1">アイテムを登録する</p>
    <%= f.text_field :name, class:"form-control mb-2", placeholder:"Name" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select mb-2"}) %>
    <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"form-select mb-2"}) %>
    <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"form-select mb-2"}) %>
    <%= f.text_area :info, class:"form-control  mb-3", placeholder:"Memo" %>
    <p class= "text-center"><%= f.submit "POST" ,class:"btn btn-primary col-12" %></p>
  </div>
<% end %>