<%= render "shared/sidebar" %>
  <%= form_with model: @post, url:posts_path, local: true, class: "mx-auto col-4", id: "step1-form", remote: true do |f| %>
<div id = "content">
  <div class="post-box justify-content-center">
    <p class="text-center mb-3 fs-2">コーディネート登録</p>

    <div class="add-form row p-3">
      <% Account.all.each do |account| %>
        <label class="form-radio mb-2">
          <input class="form-radio-input" type="radio" name="post[account_id]" value="<%= account.id %>">
          <% if account.image.present? %>
            <%= image_tag account.image.variant(resize: '50x50'), class: "rounded-circle" %>
          <% else %>
            <%= image_tag "icon.png", variant: { resize: '50x50' }, class: "icon-resize rounded-circle" %>
          <% end %>
          <%= account.name %>
        </label>
      <% end %>
    </div>
      <p class="text-center next">
      <%= f.button "次へ", class: "btn btn-primary", type: "button", id: "next" %>
      </p>
  </div>
  
</div>
  <% end %>