<%= render "shared/sidebar" %>
<body class="bg-color">
<div class= "d-flex justify-content-end col-12 w-25 ">
<%= form_with model: @post, url: posts_path, local: true, class: "p-5 me-0", id: "step1-form" do |f| %>
  <div class="post-box bg-light">
    <p class="text-center mb-3 fs-3">アカウント選択</p>

    <div class="add-form row p-3">
    <div class="d-flex justify-content-center flex-column">
      <% Account.all.each do |account| %>
        <label class="form-radio mb-2">
          <input class="form-radio-input" type="radio" name="post[account_id]" value="<%= account.id %>">
          <% if account.image.present? %>
            <%= image_tag account.image.variant(resize: '50x50'), class: "rounded-circle" %>
          <% else %>
            <%= image_tag "icon.png", variant: { resize: '50x50' }, class: "icon-resize rounded-circle" %>
          <% end %>
          <%= account.name %>
        </label>
      <% end %>
    </div>
    <%= hidden_field_tag 'post[account_id]', params[:account_id] %>
    <p class="text-center next mt-3">
      <%= button_tag "次へ", class: "btn btn-primary", type: "button", id: "next" %>
    </p>
    </div>
  </div>
<% end %>
</div>
</body>

    <div id="step2-form-container" class="form-2 col-12 w-50 bg-color" >
      <!-- ステップ2のフォームがここに表示されます -->
    </div>