  <%= render "shared/sidebar" %>

<main class="container d-flex flex-column overflow-auto img-1 px-5 pt-5 bg-color">

  <div class = "row img-up">
  <div class="row col-12 d-flex justify-content-center">
  <div class=" col-lg-3 col-md-6 d-flex justify-content-center">
      <%= link_to "Account NEW", new_account_path, method: :get, class: "fw-bold post-btn" %>
      </div>
      <% @accounts.each do |account|%>
        <%= link_to account_path(account.id), class: "text-decoration-none col-lg-3 col-md-6 row-md" do %>
          <div class= "account-size d-flex justify-content-center">
            <% if account.image.present? %>
              <%= image_tag account.image.variant(resize: '200x200'), class: "rounded-circle" %>
            <% else %>
              <%= image_tag "icon.png", variant: { resize: '200x200' }, class: "rounded-circle" %>
            <% end %>
          </div>
          <div class="g-0 flex-md-row mb-4 h-md-250 position-relative row text-center">
            <div class="position-static p-3">
              <h4 class="mb-1 text-muted fw-bold"><%= account.name%></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
