  <%= render "shared/sidebar" %>

<main class="container d-flex flex-column overflow-auto img-1 px-5 ">

      <div class="row p-3 mb-4 d-flex justify-content-center">
        <div class="col-7 row border rounded-pill bg-light d-flex justify-content-between p-4">
          <div class="lead col-md-3 d-flex justify-content-center"><%= link_to "Account NEW", new_account_path, method: :get, class: "fw-bold post-btn" %></div>
        </div>
      </div>


  <div class = "row">
    <% @accounts.each do |account|%>
      <%= link_to account_path(account.id), class: "text-decoration-none col-lg-3 col-md-6 row-md " do %>
      <%# <div class= "img-size mx-auto">
        <%= image_tag item.image.variant(resize: '200x200') %>
        <%# </div> %>
        <div class="g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative row">
          <div class="position-static p-3">
            <h4 class="mb-1 text-muted"><%= account.name%></h4>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</main>
